[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    theme = Visual Studio Dark+
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
    defaultbranch = main
[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = {{ .gpgkey }}!
[rebase]
    stat = true
    autoSquash = true
    autoStash = true
[core]
    autocrlf = false
[commit]
    gpgsign = true
[gpg]
    program = {{ joinPath .chezmoi.homeDir "scoop/apps/gpg/current/bin/gpg.exe" | replace "\\" "/" | quote }}
[alias]
    unstage = reset HEAD
    unst = reset HEAD
    stage = add
    st = add
    unci = reset --soft HEAD^
    undo-commit = reset --soft HEAD^
    ci = commit
    st = status
    co = checkout
    br = branch
    pick = cherry-pick
    last = log -1 HEAD
    ls = log --abbrev-commit --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat # List commits showing changed files
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short # List oneline commits showing dates
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative # List oneline commits showing relative dates
    le = log --oneline --decorate #Default look for short git log
    logtree = "log --graph --oneline --decorate --all" # same as above, but with graph
    filelog = log -u # See all the commits related to a file, with the diff of the changes with git log -u
